<div class="container-fluid">


<div class="text-center">
  <h1>Currency Calculator</h1>
  <p>Using exchangeratesapi.io/ to convert currency</p>
</div>



  <div class="row text-center" *ngIf="rates">
    <div class="col-sm">
      <p>Amount</p>
      <input type="number" id="amount" placeholder="1" (change)="onChangeInputValue($event)">
    </div>
    <div class="col-sm">
      <p>From</p>
      <select  (change)="onChangeFromSelection($event)" [value] = "rates.base" > 
          <!-- //base is euro by default now -->
          <option *ngFor="let currency of currencyList" 
          > {{currency}}</option>
        </select> 
    </div>
    <div class="col-sm">
      <p>To</p>
      <select (change)="onChangeToSelection($event)">
          <option *ngFor="let currency of currencyList" value = "{{currency}}" 
          > {{currency}}</option>
        </select> 
    </div>
  </div>

<br>

<div class="text-center"> 
  <button (click) = "getRates()">Convert</button>
  <!-- <button (click)="reverse()">Reverse</button> -->
</div>



<hr>




<div *ngIf = "answer" >
    <h2> conversion result</h2>
  
    <h1>{{answerInputValue}} {{answerBaseSymbol}} = <span class="text-primary"> {{ answer }} {{answerSymbol}}</span></h1>
  
  
  </div>


  <div id="graph">


  </div>